// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  font-size: 2rem;
  font-weight: $font-weight-ligth;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-contrast;
}

.h-page {
  color: #fff;
  text-align: center;
  padding: 40% 0;
}