.top-footer,
.bottom-footer {
  color: #fff;
  margin: 0 auto;
  padding: 0 $space-small;
  text-align: center;
}

.top-footer {
  background-color: $turquoise;
  
  ul {
    padding: 0;
  }

  li {
    border-bottom: 1px solid #fff;
    list-style-image: none;
    list-style-type: none;
    padding: 1rem 0;
  }
}

.bottom-footer {
  background-color: #000;
}