.btn {
  border: 2px solid $turquoise;
  cursor: pointer;
  display: inline-block;
  padding: 0.4rem 2rem;
  border-radius: 2px;

  & > p {
    margin-bottom: 0;
  }

  a {
    border: none;
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
  }
}

.btn--principal {
  color: #fff;
  background-color: $turquoise;

  &:hover {
    background-color: #FFF;
    border: 2px solid $turquoise;
    color: $turquoise;
    box-sizing: border-box;
  }
}