.entry {
  background-image: url(../img/bg-watercolour.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: $space-out-medium 0;
}

.category {
  color: $violet;
  font-weight: 300;
}

.date {
  color: $mid-gray;
  font-weight: 300;
}