.bg-menu {
  background-image: url('../img/menu.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
  height: 80px; 
  margin: 1rem;
  width: 80px;

  p {
    color: $violet;
    font-weight: $font-weight-bold;
    padding: 15% 25%;
  }
}

.main-menu {
  font-family: $font-family-contrast;
  height: 10rem;
}

.menu {
  border-bottom: 1px solid #fff;
  font-size: 1.125rem;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 10rem;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;

  li {
      list-style-image: none;
      list-style-type: none;
      padding-bottom: 1rem;
  }

  a {
    color: #fff;
    border: none;
  }
}