.related {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: $space-out-medium;

  @include query(450px){
    flex-direction: row;
  }
}

.related-art {
  margin: $space-out-small 0;
  text-align: center;

  img {
    width: 90%;
    padding-bottom: $space-base; 

    @include query(500px){
      width: 100%;
    }
  }

  @include query(450px){
    margin: $space-out-small;
  }

  @include query(500px){
    margin: $space-out-small;
    width: 40%;
  }
}